---
layout: default
title: Malekbenz, Weblog
---
<!--<div class="blurb">
	<h1>Hi there, I'm Malekbenz!</h1>
	<p>I'm best known as the horrible cop from <em>A Touch of Evil</em> Don't trust me. <a href="/about">Read more about my life...</a></p>

</div>-->

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
	<div class="section-post">
		<!--<img src="img/img8.jpg" alt="post-1" />-->

		<h2>Posts</h2>
		<ul class="post-by">
			<li>By:<span>Jewel</span></li>
			<li>Category:<span>Web Design</span></li>
			<li>tags:<span>HTML, CSS, Javascript</span></li>
			<li>Time:<span>Jan 04 2014</span></li>
		</ul>

			{% assign index = true %}
			<div itemscope itemtype="http://schema.org/Blog">
			{% for post in paginator.posts %}
			{% unless post.redirect %}
			{% assign content = post.content %}
				<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
					{% include article.html %}
				</article>
			{% endunless %}
			{% endfor %}
			</div>
			<nav id="pagenavi">
				{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="prev">Prev</a>
				{% endif %}
				{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a>
				{% endif %}
				<div class="center"><a href="/archive">Blog Archives</a></div>
			</nav>

	</div>




</div>

<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<div class="sidebar">

		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="search" class="form-control" id="exampleInputSearch2" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i></button>
		</form>


		<div class="sidebar-text">
			<h2>Text</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>

		<div class="sidebar-text">
			<h2>Categories</h2>

			<ul class="category">
				<li><a href="#">JavaScript <span class="count">100</span></a></li>
				<li><a href="#">ASP.NET <span class="count">50</span></a></li>
				<li><a href="#">SQL SERVER <span class="count">20</span></a></li>
			</ul>
		</div>

		<div class="sidebar-text">
			<h2>Tags</h2>

			<ul class="tags">
				<li><a href="#" class="tg-btn">JavaScript </a></li>
				<li><a href="#" class="tg-btn">ASP.NET</a></li>
				<li><a href="#" class="tg-btn">SQL SERVER</a></li>
			</ul>

		</div>

	</div>
</div>
