---
layout: default
title: Malekbenz, Weblog
---
<!--<div class="blurb">
	<h1>Hi there, I'm Malekbenz!</h1>
	<p>I'm best known as the horrible cop from <em>A Touch of Evil</em> Don't trust me. <a href="/about">Read more about my life...</a></p>

</div>-->

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
	<div class="section-post">
		<!--<img src="img/img8.jpg" alt="post-1" />-->
			<!--{% for post in site.posts %}
			<li><span>{{ post.date | date_to_string }}</span> » 
				<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} And  {{post.author}}</a>
							{{ post.tags | array_to_sentence_string }}
			</li>
			{% endfor %}-->

		<div class="posts">
				{% for post in paginator.posts %}
					<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
					<p class="author">
						<span class="date">{{ post.date | date_to_string }}</span>
								<ul class="post-by">
									<li>Category:<span>{{post.category}}</span></li>
									<li>tags:<span>{{ post.tags | array_to_sentence_string }}</span></li>
									<li>Time:<span>{{ post.date | date_to_string }}</span></li>
								</ul>

						
					</p>
					<div class="content">
						{{ post.content }}
					</div>
				{% endfor %}

				<!-- Pagination links -->
				<div class="pagination">
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
					{% else %}
						<span class="previous">Previous</span>
					{% endif %}
					<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}" class="next">Next</a>
					{% else %}
						<span class="next ">Next</span>
					{% endif %}
				</div>

		</div>
	</div>

</div>

<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<div class="sidebar">

		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="search" class="form-control" id="exampleInputSearch2" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i></button>
		</form>


		<div class="sidebar-text">
			<h2>Blogs</h2>
			<ul class="posts">
				<!--{% for post in site.posts %}
				<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
				{% endfor %}-->
				{% for post in paginator.posts %}
				<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
				<p class="author">
					<span class="date">{{ post.date | date_to_string }}</span>
					<ul class="post-by">
						<li>Category:<span>{{post.category}}</span></li>
						<li>tags:<span>{{ post.tags | array_to_sentence_string }}</span></li>
						<li>Time:<span>{{ post.date | date_to_string }}</span></li>
					</ul>
				</p>
				{% endfor %}
			</ul>

		</div>

		<div class="sidebar-text">
			<h2>Categories</h2>

			<ul class="category">
				<li><a href="#">JavaScript <span class="count">100</span></a></li>
				<li><a href="#">ASP.NET <span class="count">50</span></a></li>
				<li><a href="#">SQL SERVER <span class="count">20</span></a></li>
			</ul>
		</div>

		<div class="sidebar-text">
			<h2>Tags</h2>

			<ul class="tags">
				<li><a href="#" class="tg-btn">JavaScript </a></li>
				<li><a href="#" class="tg-btn">ASP.NET</a></li>
				<li><a href="#" class="tg-btn">SQL SERVER</a></li>
			</ul>

		</div>

	</div>
</div>
