<div class="section sTop">
	<div class="inner-container">

		<div class="container">

			<div class="section-heared">
				<h1>Malekbenz</h1>
				<span></span>

				<h6>Hi, I'm MalekBenz. I author this blog, I'm FullStack Developer, create courses & love learning, writing, teaching technology.
					( Javascript, C#, ASP.NET , NodeJS, SQL Server )</h6>

				<ul class="inner-link">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/posts">All Posts</a></li>
				</ul>

			</div>
			<!-- /section-heared -->

		</div>

	</div>
	<!-- /top-container -->

</div>
<!-- /sTop -->