 {% include head.html %}

<body>
	{% include header.html %}
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			{{ content }}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			{% include sidebar.html %}
		</div>

	</div>
	<!-- /.container -->
    
	<div class="navbar navbar-default navbar-bottom">
				{% include footer.html %}
	</div>
<script type="text/javascript"> var infolinks_pid = 2884020; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>

</html>